<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="disciplinas.component.css">
    <link rel="stylesheet" href="menu.component.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="body">
    <div id=menu>
    <input type="checkbox" id="check">
    <label id="icone" for="check">
        <img src="../../../assets/icone.png"/>
    </label>
    
    <div class="barra">
    
        <nav>
            <a href="../../../app/pages/login/login.component.html"><div class="link">Login</div></a>
            <a href="../../../app/pages/cursos/cursos.component.html"><div class="link">Cadastro de Curso</div></a>
            <a href="../../../app/pages/disciplinas/disciplinas.component.html"><div class="link">Cadastro de Disciplinas</div></a>
            <a href="../../../app/pages/turma/turma.component.html"><div class="link">Cadastro de Turma</div></a>
            <a href="../../../app/pages/user/user.component.html"><div class="link">Cadastro de Usuário</div></a>
        </nav>
        
    </div>
    </div>
    <div  id="divFull">
    <div id="branca">
        <div id="logo"><img src="../../../assets/facens-logo.png"/></div>
    <div class="Titulo">
        <p>Lesson Planner</p>
    </div>
    <div class="Nome">
        Cadastro de Disciplinas
    </div>
    <div class="forms">
        <form>
            <div >
                <label for="nome">Nome: </label>
                <input type="text">
            </div>
            <br>    
            <div>
                <label>Responsavel: </label>
                <input type="text" >
            </div>
            <br>
            <div>
                <label id="curso">Curso: </label>
                <select>
                    <option value="curso0">Selecione...</option>
                    <option value="curso1">Computação</option>
                    <option value="curso2">Civil</option>
                    <option value="curso3">Mecatronica</option>
                    <option value="curso4">Eletrica</option>
                </select><br>
            </div>
            <br>
            <input type="button" value="Enviar">
        </form>
        </div>
        </div>
    </div>
</body>