<body class="body">
    <div class="Titulo">
        <p>Lesson Planner</p>
    </div>
    <div class="Nome">
        Cadastro de Disciplinas
    </div>
    <div class="forms">
        <form>
            Nome<br>
            <input type="text" name="nome">
            Responsavel<br>
            <input type="text" name="responsavel">
            Curso<br>
            <select>
                <option value="curso1"></option>
                <option value="curso2"></option>
                <option value="curso3"></option>
                <option value="curso4"></option>
            </select><br>
            <input type="button" value="Enviar">
        </form>
    </div>
</body>