<body class="body">
    <div class="Titulo">
        <p>Lesson Planner</p>
    </div>
    <div class="Nome">
        Cadastro de Disciplinas
    </div>
    <div class="forms">
        <form>
            <div>
                <label for="nome">Nome: </label>
                <input type="text">
            </div>
            <br>    
            <div>
                <label>Responsavel: </label>
                <input type="text" >
            </div>
            <br>
            <div>
                <label>Curso: </label>
                <select>
                    <option value="curso0">Selecione...</option>
                    <option value="curso1">Computação</option>
                    <option value="curso2">Civil</option>
                    <option value="curso3">Mecatronica</option>
                    <option value="curso4">Eletrica</option>
                </select><br>
            </div>
            <br>
            <input type="button" value="Enviar">
        </form>
    </div>
</body>