<!DOCTYPE html>

<head>
    <link rel="text/css" href="../user/user.component.css">
    <link rel="text/css" href="../user/menu.component.css">
    <script src="user.script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="body">
    <div id=menu>
        <input type="checkbox" id="check">
        <label id="icone" for="check">
            <img src="../../../assets/icone.png" />
        </label>

        <div class="barra">
            <nav>
                <a href="login">
                    <div class="link">Login</div>
                </a>
                <a href="curso">
                    <div class="link">Cadastro de Curso</div>
                </a>
                <a href="disciplinas">
                    <div class="link">Cadastro de Disciplinas</div>
                </a>
                <a href="turma">
                    <div class="link">Cadastro de Turma</div>
                </a>
                <a href="user">
                    <div class="link">Cadastro de Usuário</div>
                </a>
            </nav>

        </div>
    </div>
    <div id="divFull">
        <div id="branca">
            <div id="logo"><img src="../../../assets/facens-logo.png" /></div>
            <div class="Titulo">
            </div>
            <div class="Nome">
            </div>
            <div class="forms">
                <form>
                    <mat-card-header>
                        <mat-card-title>Cadastro de Usuário</mat-card-title>
                    </mat-card-header>


                    <mat-card-content>
                        <form class="example-form">
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Name" [(ngModel)]="user_name" name="name" required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Email" [(ngModel)]="user_email" name="email"
                                                required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="CPF" [(ngModel)]="user_cpf" name="cpf" required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput [matDatepicker]="picker" placeholder="Nascimento">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input type="password" matInput placeholder="Senha" [(ngModel)]="user_senha"
                                                name="senha" required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input type="password" matInput placeholder="Confirmar senha" [(ngModel)]="confirmSenha"
                                                name="confirmSenha" required>
                                        </mat-form-field>
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Coordenador" [(ngModel)]="coordenador" type="text"
                                                name="coordenador" required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <mat-spinner [style.display]="showSpinner? 'block' : 'none'"></mat-spinner>
                    </mat-card-content>

                    <mat-card-actions>
                        <button id="btnSaveUser" mat-raised-button (click)="saveUser()" color="primary">Salvar</button>
                    </mat-card-actions>
                </form>
            </div>
        </div>
    </div>
</body>