<body>
    <div class="Titulo">
        <p>Lesson Planner</p>
    </div>
    <div class="Nome">
        Cadastro de Cursos
    </div>
    <div class="forms">
        <form>
            Nome do Curso:<br>
            <input type="text" name="NomeCurso"><br>
            Competencias <br>
            <select name="competencias">
                <option value="competencia1"></option>
                <option value="competencia2"></option>
                <option value="competencia3"></option>
                <option value="competencia4"></option>
            </select><br>
            Objetivos<br>
            <select name="objetivos">
                <option value="objetivo1"></option>
                <option value="objetivo2"></option>
                <option value="objetivo3"></option>
                <option value="objetivo4"></option>
            </select>
            Habilidades<br>
            <select>
                <option value="habilidade1"></option>
                <option value="habilidade2"></option>
                <option value="habilidade3"></option>
                <option value="habilidade4"></option>
            </select>
            Coordenador<br>
            <input type="text" name="NomeCoordenador"><br>
            <input type="button" value="Enviar">
        </form>
    </div>
</body>