<body>
    <div class="Titulo">
        <p>Lesson Planner</p>
    </div>
    <div class="Nome">
        Cadastro de Cursos
    </div>
    <div class="forms">
        <form>
            <div>
                <label for="nomeCurso">Nome Curso: </label>
                <input type="text" >
            </div>
            <br>
            <div>
                <label for="competencias">Competencias: </label>
                <select>
                    <option value="competencia0">Selecione...</option>
                    <option value="competencia1">Competencia 1</option>
                    <option value="competencia2">Competencia 2</option>
                    <option value="competencia3">Competencia 3</option>
                    <option value="competencia4">Competencia 4</option>
                </select>
            </div>
            <br>
            <div>
                <label for="objetivos">Objetivos: </label>
                <select>
                    <option value="objetivo0">Selecione...</option>
                    <option value="objetivo1">Objetivo 1</option>
                    <option value="objetivo2">Objetivo 2</option>
                    <option value="objetivo3">Objetivo 3</option>
                    <option value="objetivo4">Objetivo 4</option>
                </select>
            </div>
            <br>
            <div>
                <label for="habilidades">Habilidades: </label>
                <select>
                    <option value="habilidade0">Selecione...</option>
                    <option value="habilidade1">Habilidade 1</option>
                    <option value="habilidade2">Habilidade 2</option>
                    <option value="habilidade3">Habilidade 3</option>
                    <option value="habilidade4">Habilidade 4</option>
                </select>
            </div>
            <br>
            <div>
                <label for="coordenador">Coordenador: </label>
                <input type="text">
            </div>
            <br>

            <input type="button" value="Enviar">
        </form>
    </div>
</body>