body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 0;
    overflow: hidden;
    height: 100vw;
    background-image: url('../../../assets/facens-wallp.jpg');    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
        the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
        on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
        while the background image is loading */
    background-color: #464646;
}

.Titulo {
    text-align: center;
    margin-top: -310px;
}

.Nome {
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.forms {
    text-align: left;
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
}

.example-form {     
    padding-top: 12px; 
}


#btnSaveCurso {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#branca{
    width: 300px;
    background-color: rgba(255,255,255,0.7);
    border-style: double;
    border-color: gray;
    border-radius: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    height: 32vw;
}


#logo{
    position: relative;
    width: 250px;
    height: 300px;
    margin-left: 10px;
    margin-top: 30px;
}

#curso{
    margin-left: -30px;
}

#logo img{
    opacity: .5;
}

fieldset{
  border: none;
}

legend{
  font-weight: bold;
  font-size: 20px;
}

.form-group{
  margin: 7px auto;
}

label{
  width: 125px;
  display: inline-block;
}

input[type="name"], input[type="email"], input[type="cpf"], input[type="date"], input[type="password"] {
  padding: 4px;
  border-radius: 5px;
  
}

input:invalid{
  border-color: crimson;
  box-shadow: 0px 0px 3px crimson;
}

input:focus{
  outline: none;
}

input:focus:invalid{
  box-shadow: none;
}

span{
  color: crimson;
}

input[type="name"], input[type="email"], input[type="cpf"], input[type="date"], input[type="password"] {
  padding: 4px;
  border-radius: 5px;
  
}