<!DOCTYPE html>

<head>
    <link rel="text/css" href="../turma/turma.component.css">
    <link rel="text/css" href="../turma/menu.component.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="body">
    <div id=menu>
        <input type="checkbox" id="check">
        <label id="icone" for="check">
            <img src="../../../assets/icone.png" />
        </label>

        <div class="barra">

            <nav>
                <a href="login">
                    <div class="link">Login</div>
                </a>
                <a href="curso">
                    <div class="link">Cadastro de Curso</div>
                </a>
                <a href="disciplinas">
                    <div class="link">Cadastro de Disciplinas</div>
                </a>
                <a href="turma">
                    <div class="link">Cadastro de Turma</div>
                </a>
                <a href="user">
                    <div class="link">Cadastro de Usuário</div>
                </a>
            </nav>

        </div>
    </div>
    <div id="divFull">
        <div id="branca">
            <div id="logo"><img src="../../../assets/facens-logo.png" /></div>
            <div class="Titulo">

            </div>
            <div class="Nome">
            </div>
            <div class="forms">
                <form>
                    <mat-card-header>
                        <mat-card-title>Cadastro de Turma</mat-card-title>
                    </mat-card-header>


                    <mat-card-content>
                        <form class="example-form">
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Curso</mat-label>
                                            <select matNativeControl required>
                                                <option value="curso0">Selecione...</option>
                                                <option value="curso1">Computação</option>
                                                <option value="curso2">Civil</option>
                                                <option value="curso3">Mecatronica</option>
                                                <option value="curso4">Eletrica</option>
                                            </select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Código" [(ngModel)]="cod" name="cod" required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <mat-form-field class="example-full-width">
                                            <mat-label>Disciplinas</mat-label>
                                            <select matNativeControl required>
                                                <option value="disciplinas0">Selecione...</option>
                                                <option value="disciplinas1">Programação Orientada a Objeto</option>
                                                <option value="disciplinas2">Processamento de Sinais</option>
                                                <option value="disciplinas3">Processamento de Imagens</option>
                                                <option value="disciplinas4">Estrutura de Dados</option>
                                            </select>
                                        </mat-form-field>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Instrutor" [(ngModel)]="instrutor" type="text"
                                                name="instrutor" required>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <mat-spinner [style.display]="showSpinner? 'block' : 'none'"></mat-spinner>
                    </mat-card-content>

                    <mat-card-actions>
                            <button id="btnSaveTurma" mat-raised-button (click)="saveTurma()" color="primary">Salvar</button>
                        </mat-card-actions>
                </form>
            </div>
        </div>
    </div>
</body>