<body class="body">
    <div class="Titulo">
        <p>Lesson Planner</p>
    </div>
    <div class="Nome">
        Cadastro de Turmas
    </div>
    <div class="forms">
        <form>
            <div>
                <label for="disciplinas">Disciplinas: </label>
                <select>
                    <option value="disciplinas0">Selecione...</option>
                    <option value="disciplinas1">Programação Orientada a Objeto</option>
                    <option value="disciplinas2">Processamento de Sinais</option>
                    <option value="disciplinas3">Processamento de Imagens</option>
                    <option value="disciplinas4">Estrutura de Dados</option>
                </select>
            </div>
            <br>
            <div>
                <label for="codigo">Codigo: </label>
                <input type="text">
            </div>
            <br>
            <div>
                <label for="curso">Curso: </label>
                <select>
                    <option value="curso0">Selecione...</option>
                    <option value="curso1">Computação</option>
                    <option value="curso2">Eletrica</option>
                    <option value="curso3">Mecatronica</option>
                    <option value="curso4">Mecanica</option>
                    <option value="curso5">Produção</option>
                </select>
            </div>
            <br>
            <div>
                <label for="professor">Professor: </label>
                <input type="text">
            </div>
            <br>
            
            <input type="button" value="Enviar">
        </form>
    </div>
</body>