<body class="body">
    <div class="Titulo">
        <p>Lesson Planner</p>
    </div>
    <div class="Nome">
        Cadastro de Turmas
    </div>
    <div class="forms">
        <form>
            Disciplinas<br>
            <select>
                <option value="disciplinas1"></option>
                <option value="disciplinas2"></option>
                <option value="disciplinas3"></option>
                <option value="disciplinas4"></option>
            </select><br>
            Codigo<br>
            <input type="text" name="Codigo"><br>
            Curso<br>
            <select>
                <option value="curso1"></option>
                <option value="curso2"></option>
                <option value="curso3"></option>
                <option value="curso4"></option>
                <option value="curso5"></option>
            </select><br>
            Professor<br>
            <input type="text" name="professor"><br>
            <input type="button" value="Enviar">
        </form>
    </div>
</body>